<a href="https://colab.research.google.com/github/NizeSr/Python/blob/main/2_DATA_STRUCTURE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numeric

In [ ]:
#1

numeric1 = 5
print(numeric1)
print(type(numeric1))

5
<class 'int'>

In [ ]:
#2

numeric2 = -3
print(numeric2)
print(type(numeric2))

-3
<class 'int'>

In [ ]:
#3

numeric3 = 0
print(numeric3)
print(type(numeric3))

0
<class 'int'>

In [ ]:
#4

int1 = int(input('Insert integer: '))
print(int1)
print(type(int1))

Insert integer: 5
5
<class 'int'>

In [ ]:
#5

numeric1 = 5.0
print(numeric1)
print(type(numeric1))

5.0
<class 'float'>

In [ ]:
#6

numeric2 = -3.1
print(numeric2)
print(type(numeric2))

-3.1
<class 'float'>

In [ ]:
#7

numeric3 = 0.0
print(numeric3)
print(type(numeric3))

0.0
<class 'float'>

In [ ]:
#8

float1 = float(input('Insert float: '))
print(float1)
print(type(float1))

Insert float: 9.9
9.9
<class 'float'>

In [ ]:
#9.1

int1 = int(input('Insert integer_1: '))
int2 = int(input('Insert integer_2: '))
calculation = int1 + int2, int1 - int2, int1 * int2, int1 / int2
print(calculation)
print(type(calculation))

Insert integer_1: 2
Insert integer_2: 3
(5, -1, 6, 0.6666666666666666)
<class 'tuple'>

In [ ]:
#9.2

int1 = int(input('Insert integer_1: '))
int2 = int(input('Insert integer_2: '))

print('integer_1: ', int1, type(int1))
print('integer_2: ', int2, type(int2))

a = int1 + int2
b = int1 - int2
c = int1 * int2
d = int1 / int2

print('ผลบวก =', a, type(a),
      'ผลลบ =', b, type(b),
      'ผลคูณ =', c, type(c),
      'ผลหาร =', d, type(d))

Insert integer_1: 2
Insert integer_2: 3
integer_1:  2 <class 'int'>
integer_2:  3 <class 'int'>
ผลบวก = 5 <class 'int'> ผลลบ = -1 <class 'int'> ผลคูณ = 6 <class 'int'> ผลหาร = 0.6666666666666666 <class 'float'>

In [ ]:
#10.1

float1 = float(input('Insert float_1: '))
float2 = float(input('Insert float_2: '))
calculation = float1 + float2, float1 - float2, float1 * float2, float1 / float2
print(calculation)
print(type(calculation))

Insert float_1: 2.5
Insert float_2: 3.5
(6.0, -1.0, 8.75, 0.7142857142857143)
<class 'tuple'>

In [30]:
#10.2

float1 = float(input('Insert float_1: '))
float2 = float(input('Insert float_2: '))

print('float_1: ', float1, type(float1))
print('float_2: ', float2, type(float2))

a = float1 + float2
b = float1 - float2
c = float1 * float2
d = float1 / float2

print('ผลบวก =', a, type(a),
      'ผลลบ =', b, type(b),
      'ผลคูณ =', c, type(c),
      'ผลหาร =', d, type(d))

Insert float_1: 2.5
Insert float_2: 3.5
float_1:  2.5 <class 'float'>
float_2:  3.5 <class 'float'>
ผลบวก = 6.0 <class 'float'> ผลลบ = -1.0 <class 'float'> ผลคูณ = 8.75 <class 'float'> ผลหาร = 0.7142857142857143 <class 'float'>

In [29]:
#11.1

int1 = int(input('Insert integer_1: '))
float1 = float(input('Insert float_1: '))
calculation = int1 + float1, int1 - float1, int1 * float1, int1 / float1
print(calculation)
print(type(calculation))

Insert integer_1: 5
Insert float_1: 2.5
(7.5, 2.5, 12.5, 2.0)
<class 'tuple'>

In [31]:
#11.2

int1 = int(input('Insert integer_1: '))
float1 = float(input('Insert float_1: '))

print('integer_1: ', int1, type(int1))
print('float_1: ', float1, type(float1))

a = int1 + float1
b = int1 - float1
c = int1 * float1
d = int1 / float1

print('ผลบวก =', a, type(a),
      'ผลลบ =', b, type(b),
      'ผลคูณ =', c, type(c),
      'ผลหาร =', d, type(d))

Insert integer_1: 5
Insert float_1: 2.5
integer_1:  5 <class 'int'>
float_1:  2.5 <class 'float'>
ผลบวก = 7.5 <class 'float'> ผลลบ = 2.5 <class 'float'> ผลคูณ = 12.5 <class 'float'> ผลหาร = 2.0 <class 'float'>

In [32]:
#12

logic1 = True
print(logic1, type(logic1))

True <class 'bool'>

In [33]:
#13

logic2 = False
print(logic2, type(logic2))

False <class 'bool'>

In [36]:
#14
logic1 = True
logic2 = False

print(logic1 and logic2)

a = logic1 & logic2 #& = และ
print(a)

False
False

In [37]:
#15

logic1 = True
logic2 = False

print(logic1 or logic2)

a = logic1 or logic2
print(a)

True
True

In [39]:
#16

complex1 = 1 +2j
print(complex1, type(complex1))

(1+2j) <class 'complex'>

In [40]:
#17

complex1 = 1 +2j
print(complex1.real) #ส่วนจริง

1.0

In [43]:
#18

complex1 = 1 +2j
print(complex1.imag) #ส่วนจินตภาพ

2.0

# String

In [44]:
#19

string1 = 'Python'
print(string1, type(string1))

Python <class 'str'>

In [46]:
#20

string1 = 'Python'
print(string1[0])

P

In [47]:
#21

string1 = 'Python'
print(string1[1])

y

In [48]:
#22

string1 = 'Python'
print(string1[-1])

n

In [50]:
#23

string1 = 'Python'
print(string1[-2])

o

In [52]:
#24

string1 = 'Python'
print(string1[2])

t

In [53]:
#25

string1 = 'Python'
print(string1[-3])

h

In [57]:
#26

string1 = 'Python'
print(string1[1:4]) #print str ที่ index 1-3 (ต้อง +1 ที่ตัวหลัง)

yth

In [58]:
#27 -- from index 2 to -2

string1 = 'Python'
print(string1[2:-1])

tho

In [59]:
#28 -- from index 2 to -1

string1 = 'Python'
print(string1[2:])

thon

In [61]:
#29 -- from index -4 to 4

string1 = 'Python'
print(string1[-4:5])

tho

In [64]:
#30 -- from index -6 to 4

string1 = 'Python'

print(string1[-6:5])

print(string1[:5])

Pytho
Pytho

In [63]:
#31 -- from index -4 to -2

string1 = 'Python'
print(string1[-4:-1])

tho

In [65]:
#32

str1 = str(input('Insert string: '))
print(len(string1))

Insert string: Python
6

In [1]:
#33

str1 = str(input('Insert string: '))

print('ก' in str1)

Insert string: การบ้าน
True

In [2]:
#34

string1 = str(input('Insert string_1: '))
string2 = str(input('Insert string_2: '))

print(string2 in string1)

Insert string_1: Data Analyst
Insert string_2: Data
True

In [3]:
#35

string1 = str(input('Insert string_1: '))

print(string1.replace('a', 'A'))

Insert string_1: Data
DAtA

In [4]:
#36

string1 = str(input('Insert string_1: '))
string2 = string1.replace('a', 'A')

print(string2)

Insert string_1: Data
DAtA

In [6]:
#37 ตัดคำโดยใช้ ' '

sentence = str(input('Insert sentence: '))

print(sentence.split(' '))

Insert sentence: I love data
['I', 'love', 'data']

In [12]:
#38 ตัดคำโดยใช้ c

sentence = input('Insert sentence: ')
c = input('insert string: ')

print(sentence.split(c))

Insert sentence: Data-Analysis
insert string: -
['Data', 'Analysis']

In [14]:
#39 นำ str2 ไปต่อท้าย str1

str1 = str(input('Insert str1: '))
str2 = str(input('Insert str2: '))

print(str1 + str2)

Insert str1: Data
Insert str2: Analyst
DataAnalyst

# List

In [13]:
#40

list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1, type(list1))

[0, 1, 2, 'a', 'b', 'c'] <class 'list'>

In [14]:
#41

list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[2])

2

In [15]:
#42

list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[-3])

a

In [16]:
#43

list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[0])

0

In [17]:
#44

list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[-2])

b

In [18]:
#45 -- from index 2 to 3

list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[2:4])

[2, 'a']

In [19]:
#46 -- from index 1 to -2

list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[1:-1])

[1, 2, 'a', 'b']

In [24]:
#47

list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[1:-1])

[1, 2, 'a', 'b']

In [23]:
#48

list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[3:])

['a', 'b', 'c']

In [25]:
#49

list1 = [0, 1, 2, 'a', 'b', 'c']
print(list1[:3])

[0, 1, 2]

In [27]:
#50 -- change value in index 3 to 'duck'

list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']

list2[3] = 'duck'
print(list2)

['ant', 'bird', 'cat', 'duck', 'eagle']

In [29]:
#51

list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']

list2[0] = 'ape'
print(list2)

['ape', 'bird', 'cat', 'dog', 'eagle']

In [30]:
#52 -- Insert 'fish' into list2 at the last index

list2 = ['ant', 'bird', 'cat', 'dog', 'eagle']

list2.append('fish')
print(list2)

['ant', 'bird', 'cat', 'dog', 'eagle', 'fish']

In [3]:
#53 -- Create an empthy list to get 3 inputs(string) by append method

list3 = []

str1 = input('Insert string_1: ')
str2 = input('Insert string_2: ')
str3 = input('Insert string_3: ')

list3.append(str1)
list3.append(str2)
list3.append(str3)

print(list3)

['Data', 'Science', 'Specialist']

In [6]:
#54 -- Insert 'banana' into index 1

list3 = ['apple', 'cherry', 'eggfruit']

list3.insert(1, 'banana')
print(list3)

['apple', 'banana', 'cherry', 'eggfruit']

In [8]:
#55 -- Insert 'kiwi' into index -2

list3 = ['apple', 'cherry', 'eggfruit']

list3.insert(-1, 'kiwi')
print(list3)

['apple', 'cherry', 'kiwi', 'eggfruit']

In [10]:
#56 -- Order value in list (น้อยไปมาก)

list4 = [0, 4, 2, 3, 1]


print(sorted(list4))

list4.sort()
print(list4)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [11]:
#57 -- Order value in list (มากไปน้อย)

list4 = [0, 4, 2, 3, 1]

list4.sort(reverse=True)
print(list4)

[4, 3, 2, 1, 0]

In [13]:
#58 -- Order value in list (น้อยไปมาก) -> store in sorted_list4 variable

list4 = [0, 4, 2, 3, 1]

sorted_list4 = sorted(list4)
print(sorted_list4)

[0, 1, 2, 3, 4]

In [15]:
#59 -- Order value in list (มากไปน้อย) -> store in sorted_list4 variable

from audioop import reverse


list4 = [0, 4, 2, 3, 1]

sorted_list4 = sorted(list4, reverse=True)
print(sorted_list4)

[4, 3, 2, 1, 0]

In [17]:
#60

list5 = ['d', 'a', 'c', 'b', 'e']

list5.sort()
print(list5)

['a', 'b', 'c', 'd', 'e']

In [18]:
#61

list5 = ['d', 'a', 'c', 'b', 'e']

sorted_list5 = sorted(list5, reverse=True)
print(sorted_list5)

['e', 'd', 'c', 'b', 'a']

In [22]:
#62

list1 = ['a', 'b', 'c']
list2 = [0, 1, 2]

list1.extend(list2)

print(list1)
print(list2)

['a', 'b', 'c', 0, 1, 2]
[0, 1, 2]

In [24]:
#63

list1 = ['a', 'b', 'c']
list2 = [0, 1, 2]

list3 = list1 + list2

print(list1)
print(list2)
print(list3)

['a', 'b', 'c']
[0, 1, 2]
['a', 'b', 'c', 0, 1, 2]

In [25]:
#64 --delete value in index 1

list1 = [1, 2, 3, 1, 2, 3]

del list1[1]
print(list1)

[1, 3, 1, 2, 3]

In [28]:
#65 --delete 3 

list1 = [1, 2, 3, 1, 2, 3]

del list1[2]
del list1[-1]
print(list1)

[1, 2, 1, 2]

In [34]:
#66 --remove 1 from a list by remove method

list1 = [1, 2, 3, 1, 2, 3]

list1.remove(1)
print(list1)

[2, 3, 1, 2, 3]

In [33]:
#67 --remove all 1 from a list by remove method

list1 = [1, 2, 3, 1, 2, 3]

list1.remove(1)
list1.remove(1)
print(list1)

[2, 3, 2, 3]

In [38]:
#68 --delete all values in list1

list1 = [1, 2, 3, 1, 2, 3]

list1.clear()
print(list1)

[]

In [40]:
#69

list1 = [1, 2, 3, 'a', 'b', 'c']

print(len(list1))

6

In [41]:
#70 

list1 = [1, 2, 3, 4, 5]

int1 = int(input('Insert integer: '))
print(int1 in list1)

True

# Tuple

In [42]:
#71

tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')

print(tuple1, type(tuple1))

('America', 'Brazil', 'China', 'Dominican', 'Egypt') <class 'tuple'>

In [44]:
#72

tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')

print(tuple1[1])

Brazil

In [45]:
#73

tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')

print(tuple1[-2])

Dominican

In [46]:
#74

tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')

print(tuple1[2])

China

In [47]:
#75

tuple1 = ('America', 'Brazil', 'China', 'Dominican', 'Egypt')

print(tuple1[-1])

Egypt

In [48]:
#76 --from index 1 to 3

tuple2 = ('one', 'two', 'three', 1, 2, 3)

print(tuple2[1:4])

('two', 'three', 1)

In [50]:
#77 --from index 2 to -2

tuple2 = ('one', 'two', 'three', 1, 2, 3)

print(tuple2[2:-1])

('three', 1, 2)

In [55]:
#78

tuple2 = ('one', 'two', 'three', 1, 2, 3)

print(tuple2[2:-2])

('three', 1)

In [57]:
#79

tuple2 = ('one', 'two', 'three', 1, 2, 3)

print(tuple2[:3])

('one', 'two', 'three')

In [58]:
#80

tuple2 = ('one', 'two', 'three', 1, 2, 3)

print(tuple2[-3:])

(1, 2, 3)

In [59]:
#81

tuple2 = ('one', 'two', 'three', 1, 2, 3)

print(len(tuple2))

6

In [62]:
#82

tuple3 = ('one', 'two', 'three', 'four', 'five')

str1 = input('Insert string: ')
print(str1 in tuple3)

True

# Dictionary

In [63]:
#83

dict1 = {'first_name': 'John', 'last_name' : 'Doe'}
print(dict1, type(dict1))

{'first_name': 'John', 'last_name': 'Doe'} <class 'dict'>

In [65]:
#84

dict1 = {'first_name': 'John', 'last_name' : 'Doe'}
print(dict1['first_name'])

John

In [66]:
#85

dict1 = {'first_name': 'John', 'last_name' : 'Doe'}
print(dict1['last_name'])

Doe

In [69]:
#86

dict1 = {'first_name': 'John', 'last_name' : 'Doe'}
print(dict1.keys())

dict_keys(['first_name', 'last_name'])

In [71]:
#87

dict1 = {'first_name': 'John', 'last_name' : 'Doe'}
print(dict1.values())

dict_values(['John', 'Doe'])