<a href="https://colab.research.google.com/github/NizeSr/Python/blob/main/2_DATA_STRUCTURE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numeric

In [ ]:
#1

numeric1 = 5
print(numeric1)
print(type(numeric1))

5
<class 'int'>

In [ ]:
#2

numeric2 = -3
print(numeric2)
print(type(numeric2))

-3
<class 'int'>

In [ ]:
#3

numeric3 = 0
print(numeric3)
print(type(numeric3))

0
<class 'int'>

In [ ]:
#4

int1 = int(input('Insert integer: '))
print(int1)
print(type(int1))

Insert integer: 5
5
<class 'int'>

In [ ]:
#5

numeric1 = 5.0
print(numeric1)
print(type(numeric1))

5.0
<class 'float'>

In [ ]:
#6

numeric2 = -3.1
print(numeric2)
print(type(numeric2))

-3.1
<class 'float'>

In [ ]:
#7

numeric3 = 0.0
print(numeric3)
print(type(numeric3))

0.0
<class 'float'>

In [ ]:
#8

float1 = float(input('Insert float: '))
print(float1)
print(type(float1))

Insert float: 9.9
9.9
<class 'float'>

In [ ]:
#9.1

int1 = int(input('Insert integer_1: '))
int2 = int(input('Insert integer_2: '))
calculation = int1 + int2, int1 - int2, int1 * int2, int1 / int2
print(calculation)
print(type(calculation))

Insert integer_1: 2
Insert integer_2: 3
(5, -1, 6, 0.6666666666666666)
<class 'tuple'>

In [ ]:
#9.2

int1 = int(input('Insert integer_1: '))
int2 = int(input('Insert integer_2: '))

print('integer_1: ', int1, type(int1))
print('integer_2: ', int2, type(int2))

a = int1 + int2
b = int1 - int2
c = int1 * int2
d = int1 / int2

print('ผลบวก =', a, type(a),
      'ผลลบ =', b, type(b),
      'ผลคูณ =', c, type(c),
      'ผลหาร =', d, type(d))

Insert integer_1: 2
Insert integer_2: 3
integer_1:  2 <class 'int'>
integer_2:  3 <class 'int'>
ผลบวก = 5 <class 'int'> ผลลบ = -1 <class 'int'> ผลคูณ = 6 <class 'int'> ผลหาร = 0.6666666666666666 <class 'float'>

In [ ]:
#10.1

float1 = float(input('Insert float_1: '))
float2 = float(input('Insert float_2: '))
calculation = float1 + float2, float1 - float2, float1 * float2, float1 / float2
print(calculation)
print(type(calculation))

Insert float_1: 2.5
Insert float_2: 3.5
(6.0, -1.0, 8.75, 0.7142857142857143)
<class 'tuple'>

In [30]:
#10.2

float1 = float(input('Insert float_1: '))
float2 = float(input('Insert float_2: '))

print('float_1: ', float1, type(float1))
print('float_2: ', float2, type(float2))

a = float1 + float2
b = float1 - float2
c = float1 * float2
d = float1 / float2

print('ผลบวก =', a, type(a),
      'ผลลบ =', b, type(b),
      'ผลคูณ =', c, type(c),
      'ผลหาร =', d, type(d))

Insert float_1: 2.5
Insert float_2: 3.5
float_1:  2.5 <class 'float'>
float_2:  3.5 <class 'float'>
ผลบวก = 6.0 <class 'float'> ผลลบ = -1.0 <class 'float'> ผลคูณ = 8.75 <class 'float'> ผลหาร = 0.7142857142857143 <class 'float'>

In [29]:
#11.1

int1 = int(input('Insert integer_1: '))
float1 = float(input('Insert float_1: '))
calculation = int1 + float1, int1 - float1, int1 * float1, int1 / float1
print(calculation)
print(type(calculation))

Insert integer_1: 5
Insert float_1: 2.5
(7.5, 2.5, 12.5, 2.0)
<class 'tuple'>

In [31]:
#11.2

int1 = int(input('Insert integer_1: '))
float1 = float(input('Insert float_1: '))

print('integer_1: ', int1, type(int1))
print('float_1: ', float1, type(float1))

a = int1 + float1
b = int1 - float1
c = int1 * float1
d = int1 / float1

print('ผลบวก =', a, type(a),
      'ผลลบ =', b, type(b),
      'ผลคูณ =', c, type(c),
      'ผลหาร =', d, type(d))

Insert integer_1: 5
Insert float_1: 2.5
integer_1:  5 <class 'int'>
float_1:  2.5 <class 'float'>
ผลบวก = 7.5 <class 'float'> ผลลบ = 2.5 <class 'float'> ผลคูณ = 12.5 <class 'float'> ผลหาร = 2.0 <class 'float'>

In [32]:
#12

logic1 = True
print(logic1, type(logic1))

True <class 'bool'>

In [33]:
#13

logic2 = False
print(logic2, type(logic2))

False <class 'bool'>

In [36]:
#14
logic1 = True
logic2 = False

print(logic1 and logic2)

a = logic1 & logic2 #& = และ
print(a)

False
False

In [37]:
#15

logic1 = True
logic2 = False

print(logic1 or logic2)

a = logic1 or logic2
print(a)

True
True

In [39]:
#16

complex1 = 1 +2j
print(complex1, type(complex1))

(1+2j) <class 'complex'>

In [40]:
#17

complex1 = 1 +2j
print(complex1.real) #ส่วนจริง

1.0

In [43]:
#18

complex1 = 1 +2j
print(complex1.imag) #ส่วนจินตภาพ

2.0

# String

In [44]:
#19

string1 = 'Python'
print(string1, type(string1))

Python <class 'str'>

In [46]:
#20

string1 = 'Python'
print(string1[0])

P

In [47]:
#21

string1 = 'Python'
print(string1[1])

y

In [48]:
#22

string1 = 'Python'
print(string1[-1])

n

In [50]:
#23

string1 = 'Python'
print(string1[-2])

o

In [52]:
#24

string1 = 'Python'
print(string1[2])

t

In [53]:
#25

string1 = 'Python'
print(string1[-3])

h

In [57]:
#26

string1 = 'Python'
print(string1[1:4]) #print str ที่ index 1-3 (ต้อง +1 ที่ตัวหลัง)

yth

In [58]:
#27 -- from index 2 to -2

string1 = 'Python'
print(string1[2:-1])

tho

In [59]:
#28 -- from index 2 to -1

string1 = 'Python'
print(string1[2:])

thon

In [61]:
#29 -- from index -4 to 4

string1 = 'Python'
print(string1[-4:5])

tho

In [64]:
#30 -- from index -6 to 4

string1 = 'Python'

print(string1[-6:5])

print(string1[:5])

Pytho
Pytho

In [63]:
#31 -- from index -4 to -2

string1 = 'Python'
print(string1[-4:-1])

tho

In [65]:
#32

str1 = str(input('Insert string: '))
print(len(string1))

Insert string: Python
6

In [1]:
#33

str1 = str(input('Insert string: '))

print('ก' in str1)

Insert string: การบ้าน
True

In [2]:
#34

string1 = str(input('Insert string_1: '))
string2 = str(input('Insert string_2: '))

print(string2 in string1)

Insert string_1: Data Analyst
Insert string_2: Data
True

In [3]:
#35

string1 = str(input('Insert string_1: '))

print(string1.replace('a', 'A'))

Insert string_1: Data
DAtA

In [4]:
#36

string1 = str(input('Insert string_1: '))
string2 = string1.replace('a', 'A')

print(string2)

Insert string_1: Data
DAtA

In [6]:
#37 ตัดคำโดยใช้ ' '

sentence = str(input('Insert sentence: '))

print(sentence.split(' '))

Insert sentence: I love data
['I', 'love', 'data']

In [12]:
#38 ตัดคำโดยใช้ c

sentence = input('Insert sentence: ')
c = input('insert string: ')

print(sentence.split(c))

Insert sentence: Data-Analysis
insert string: -
['Data', 'Analysis']

In [14]:
#39 นำ str2 ไปต่อท้าย str1

str1 = str(input('Insert str1: '))
str2 = str(input('Insert str2: '))

print(str1 + str2)

Insert str1: Data
Insert str2: Analyst
DataAnalyst

# List

In [ ]:
#40